<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#corevalues">Core Values</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#getinvolved">Get Involved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#nominate">Nominate a Rural Feminist</a>
      </li>
    </ul>
  </div>
  <ul class="nav float-right">
    <li class="nav-item">
      <%= link_to (image_tag "/facebook.png", :class => 'social_media_images'), 'https://www.facebook.com/ruralfeminist/', target: :_blank %>
    </li>
    <li class="nav-item">
      <%= link_to (image_tag "/twitter.png", :class => 'social_media_images'), 'https://twitter.com/ruralfem', target: :_blank %>
    </li>
  </ul>
  <p></p>
</nav>

<div id="home" class="jumbotron text-center opening-container">
  <div class="container opening-container">
    <p></p>
    <p></p>
    <%= image_tag "/logo.png", :class => 'img-fluid logo' %>
    <hr class="logo-hr">
    <h5>Bridging the gap between rural women and feminism.</h5>
  </div>
</div>

<div id="aboutus"></div>
<section class="module parallax parallax-1">
  <div class="container">
    <h2>About Us</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Rural women face unique difficulties. <%= link_to 'Finding medical care', 'https://www.ncbi.nlm.nih.gov/pubmed/20658893', target: :_blank %>, <%= link_to 'escaping domestic violence', 'https://www.hrsa.gov/advisorycommittees/rural/publications/partnerviolencemarch2015.pdf', target: :_blank %>, and <%= link_to 'accessing community services', 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3923420/', target: :_blank %> are particularly challenging tasks in sparsely populated areas. As <%= link_to 'economic growth concentrates more and more in urban areas', 'http://eig.org/recoverymap#mapReport', target: :_blank %>, <%= link_to 'manufacturing jobs move overseas or become automated', 'https://www.kansascityfed.org/publicat/mse/MSE_1201.pdf', target: :_blank %>, and <%= link_to 'wealth inequality grows', 'http://inequality.org/inequality-data-statistics/', target: :_blank %>, these problems are exacerbated. Rural women are juggling the responsibilities of caring for themselves and their families with rapidly declining resources. Why is it that as the feminist movement has risen in popularity, rural women have been left further behind?</p>
    <p>Over the past several years, the term “feminist” has become, for many, increasingly equated with the image of the “white, urban, upper-class woman.” Women such as Ivanka Trump, Sheryl Sandberg, and Lena Dunham all consider themselves feminists while doing little to understand or help with the struggles of women from different backgrounds. Such a narrow definition of feminism fails to encapsulate the varying ways in which women struggle because of sexism, racism, classism and other forms of systemic inequality.</p>
    <div class="core-value-image"><%= image_tag "/branch.png", :class => 'img-fluid' %></div>
    <p></p>
    <p>Intersectional feminism is a decades-old movement, now coming to the forefront, that encourages us to examine the ways in which patterns of oppression intersect across marginalized populations. It focuses on the compounded struggles of poor women, women of color, women with disabilities or illnesses, religious women, and other women frequently left out of previous feminist movements. It is time for rural women to take our place in this movement.</p>
    <p></p>
    <p>Our Rural Feminist Movement stands behind a set of beliefs that will empower women. We believe women should have affordable healthcare, affordable public education, and quality resources to care for themselves and their families. If you agree with these beliefs, we welcome you into this movement.</p>
    <p></p>
    <h4>We are a group of rural women and intersectional feminists choosing to work together to organize and fight for our shared core values.</h4>
    <p></p>
    <p>Neither of the two major political parties have specifically addressed the core political values of rural women. Rather, they choose to continue pushing policies that benefit their corporate donors. Thus, we are purposefully not affiliated with either party, but we will support politicians with a demonstrable record of fighting for our core values. We will not resort to the sexist, racist, homophobic, transphobic, or classist rhetoric that is prevalent in today’s political climate.</p>
    <p></p>
    <hr class="about-us-hr">
    <p></p>
    <h4>Leadership Team</h4>
    <p></p>
    <div class="row">
      <div class="col-md-3">
        <div class="about-us-image"><%= image_tag "/katy.jpg", :class => 'img-fluid' %></div>
      </div>
      <div class="col-md-9">
        <p>Katy Rogers is a writer and strategic messaging specialist with a focus on ethical food advocacy and the relationship between rural and urban spaces.  With decades of experience in agriculture and politics, she has worked from soil to plate.  Currently, she hosts Katy on the Farm, a television series about local food in Georgia.  An Indiana native, she is working with local groups in the Midwest to tell farmers’ stories and facilitate practical policy awareness.</p>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 push-md-9">
        <div class="about-us-image"><%= image_tag "/sharon.jpg", :class => 'img-fluid' %></div>
      </div>
      <div class="col-md-9 pull-md-3">
        <p>Sharon Warner grew up in Gap, Pennsylvania, a small town in rural Lancaster County. She graduated from Haverford College in 2012 and is now a software developer at Nava PBC where she is working on a project at the Board of Veterans Appeals that will help veterans get their benefits more quickly. Though currently living in Washington DC, she frequently goes back to Lancaster to eat at Shady Maple, visit family and friends, and run at Gap Park. She can be contacted on Twitter <%= link_to '@sharonawarner', 'https://twitter.com/sharonawarner', target: :_blank %> or by email at sharon@ruralfeminist.com.</p>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="about-us-image"><%= image_tag "/monica.jpg", :class => 'img-fluid' %></div>
      </div>
      <div class="col-md-9">
        <p>Monica Roe grew up in Whitney Point, NY (population 931) and attended St. Lawrence University, Clarkson University, and Vermont College of Fine Arts, where she completed a critical thesis on harmful rural stereotypes often found in contemporary children's literature. Monica is a physical therapist, specializing in rural/remote area practice, and a freelance writer. She currently divides her time between rural South Carolina and northwestern Alaska but goes back home for apple cider and real maple syrup whenever she can. Monica and her family are also beekeepers.</p>
        <p></p>
      </div>
    </div>
  </div>
</section>

<div id="corevalues"></div>
<section class="module parallax parallax-2">
  <div class="container">
    <h2>Core Values</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p>Over the past several months, the founders of Rural Feminist have interviewed dozens of rural women about the political issues that most affect their day to day lives. We heard inspiring stories from women fighting to give their daughters more chances than they had. We heard from women who are disillusioned by today’s toxic political environment. We heard from women who have been left behind by an economy that has not yet recovered. We heard ideas for how the government can better help hardworking women. We compiled their answers into these six core values.</p>
    <div class="core-value-image"><%= image_tag "/branch.png", :class => 'img-fluid' %></div>
    <p></p>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Believing that women from all backgrounds deserve the class mobility that education provides, we support free public college tuition.
            </a>
          </h6>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <p>The average tuition at a public four-year college has risen by <%= link_to '281% since 1970', 'https://trends.collegeboard.org/college-pricing/figures-tables/tuition-fees-room-and-board-over-time', target: :_blank %>. Cumulative student loan debt across the United States now amounts to over <%= link_to '1.4 trillion dollars', 'https://www.federalreserve.gov/releases/g19/current/default.htm', target: :_blank %>. This is unsustainable. Free public college tuition provides students with a chance to attend college without taking on ever-growing loans.</p>
            <p>The <%= link_to 'College for All Act', 'https://www.congress.gov/bill/114th-congress/senate-bill/1373', target: :_blank %> was introduced in the Senate May 19th, 2015.</p>
            <p><%= link_to 'Further reading', 'http://www.freecollegenow.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Believing that sick women and women with sick family members deserve access to quality treatment and medicines, we support single payer healthcare.
            </a>
          </h6>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <p>The Affordable Care Act reduced the percentage of Americans without health insurance from <%= link_to '18.2% in 2010 to 10.3% in 2016', 'https://www.cdc.gov/nchs/data/nhis/earlyrelease/insur201702.pdf', target: :_blank %>. However, there are still <%= link_to '20.4 million', 'https://www.cdc.gov/nchs/data/nhis/earlyrelease/insur201702.pdf', target: :_blank %> Americans without health insurance. Additionally, even among those with health insurance, <%= link_to '20% report', 'http://kff.org/health-costs/press-release/new-kaisernew-york-times-survey-finds-one-in-five-working-age-americans-with-health-insurance-report-problems-paying-medical-bills/', target: :_blank %> struggling to pay their medical bills. Families dealing with health crises should not have to worry about medical bills. Single payer healthcare, or Medicare For All, is a government funded healthcare system that provides citizens with affordable, quality medical treatments and medicines.</p>
            <p>The <%= link_to 'Expanded & Improved Medicare for All Act', 'https://www.congress.gov/bill/115th-congress/house-bill/676', target: :_blank %> was introduced in the House January 24th, 2017.</p>
            <p><%= link_to 'Further', 'https://www.healthcare-now.org/', target: :_blank %> <%= link_to 'reading', 'http://www.pnhp.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Believing that women, no matter their circumstances, deserve the ability to survive with their families, we support a robust social safety net.
            </a>
          </h6>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            <p>In the United States, <%= link_to '21.1% of our children', 'http://www.npc.umich.edu/poverty/#5', target: :_blank %> live in poverty. Because of our dismantled social safety net and widening income inequality, it has become more difficult to escape poverty; many poor children become poor adults. This cycle of poverty needs to end. Food stamps, public housing, and other forms of public assistance help families who are most in need.</p>
            <p>There is currently no pending federal legislation for making the social safety net stronger.</p>
            <p><%= link_to 'Further reading', 'http://www.nccp.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Believing that mothers deserve the ability to enter the workforce, we support free public daycare.
            </a>
          </h6>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="card-block">
            <p>Of parents who pay for daycare, <%= link_to '71% say the cost', 'http://www.npr.org/documents/2016/oct/Child-Care-and-Development-Report-2016.pdf', target: :_blank %> is a problem for their family. As the <%= link_to 'costs of daycare have risen', 'http://www.pewsocialtrends.org/2014/04/08/after-decades-of-decline-a-rise-in-stay-at-home-mothers/', target: :_blank %>, women have been forced to give up their careers to stay home with their children. Women should have the financial support to freely choose between working outside or inside the home. Free public daycare would provide women that freedom.</p>
            <p>The <%= link_to 'Child Care Access to Resources for Early-learning Act', 'https://www.congress.gov/bill/114th-congress/house-bill/4524', target: :_blank %>, or the Child CARE Act, was introduced in the House February 10th, 2016. While it does not provide free public daycare for everyone, it does provide funding for low-income families.</p>
            <p><%= link_to 'Further reading', 'http://usa.childcareaware.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Believing that mothers deserve access to adequate resources, both monetary and temporal, to care for their children, we support paid family leave for new parents.
            </a>
          </h6>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="card-block">
            <p>There are only <%= link_to 'three countries', 'https://fortunedotcom.files.wordpress.com/2014/05/wcms_242615.pdf', target: :_blank %> in the world that do not support paid time off for new parents: Oman, Papua New Guinea, and the United States. This is a national embarrassment. It is unconscionable that new parents are forced to return to work before they are ready or risk running out of money. Paid family leave provides families with a partial income for a period of time after the birth of a new child.</p>
            <p>The <%= link_to 'FAMILY Act', 'https://www.congress.gov/bill/115th-congress/senate-bill/337', target: :_blank %>, or the Family and Medical Insurance Leave Act, was introduced in the Senate February 7th, 2017.</p>
            <p><%= link_to 'Further reading', 'http://www.abetterbalance.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h6 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Believing that stay-at-home mothers and women who perform unpaid labor deserve to be compensated for their work, we support a universal basic income.
            </a>
          </h6>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="card-block">
            <p>On average, women in the United States spend over <%= link_to 'four hours a day', 'http://stats.oecd.org/index.aspx?queryid=54757', target: :_blank %> on unpaid labor: cooking, cleaning, volunteering in our communities, taking care of our children, etc. This work is valuable and deserves to be compensated as such. A universal basic income is a monthly cash payment to all adults for their previously-uncompensated contributions to society.</p>
            <p>There is currently no pending federal legislation regarding a universal basic income.</p>
            <p><%= link_to 'Further', 'http://basicincome.org/', target: :_blank %> <%= link_to 'reading', 'http://economicsecurityproject.org/', target: :_blank %></p>
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="core-value-image"><%= image_tag "/branch.png", :class => 'img-fluid' %></div>
    <p></p>
    <p>Our core values are a living document. We will continue to interview rural women to hear more about your experiences. If you would like to be interviewed, please email interviews@ruralfeminist.com.</p>
    <p>Input and edits on our existing core values as well as ideas regarding additional core values are always welcome and encouraged. Please email corevalues@ruralfeminist.com with your thoughts.</p>
  </div>
</section>

<div id="getinvolved"></div>
<section class="module parallax parallax-3">
  <div class="container">
    <h2>Get Involved</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h4>The success of this organization is dependent on <b>your</b> participation. Here are great ways you can help:</h4>
    <p></p>
    <ul class="list-group">
      <li class="list-group-item">
        Follow us on social media (<%= link_to 'Facebook', 'https://www.facebook.com/ruralfeminist/', target: :_blank %>,&nbsp;<%= link_to 'Twitter', 'https://twitter.com/ruralfem', target: :_blank %>) and share our posts.
      </li>
      <li class="list-group-item">Purchase our merchandise&nbsp;<%= link_to 'here', 'https://www.cafepress.com/ruralfeminist', target: :_blank %>. Proceeds will go towards future Rural Feminist projects.</li>
      <li class="list-group-item">Help us run our social media accounts. This requires a time commitment of approximately 15 minutes per week. Please email sharon@ruralfeminist.com if interested.</li>
      <li class="list-group-item">Help us with graphic design work. Each project lasts approximately 1 month and requires 5-10 hours of work. You can volunteer for as many or as few projects as you'd like. Please email sharon@ruralfeminist.com if interested.</li>
      <li class="list-group-item">
        Donate money. Donations will go towards future Rural Feminist projects. Please note that these donations are not tax deductible at this time.
        <div class="container">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" align="center">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="WY9AVXRGPYA5E">
            <input type="image" class="paypal-image" src="http://ruralfeminist.com/donate_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </li>
    </ul>
  </div>
</section>

<div id="nominate"></div>
<section class="module parallax parallax-4">
  <div class="container">
    <h2>Nominate a Rural Feminist</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdSR9yvR6-VHUPx0GzE-8XmGJL8lsRhh-AERWPVjv4rTo3Jxg/viewform?embedded=true" width="950" height="1148" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</section>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">Rural Feminist - Established 2017</span>
  </div>
</footer>

